.menu-title-container{
  color: black;
}

.menu-title-container > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin-inline-start: 170px;
  align-items: center;

}
